<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!--<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--<target>System.out</target>-->
        <!--<encoder>-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/Users/d3vl0p3r/Dev/git_play_repo/akka_learn/meetup_rsvp_stream_app.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ca.effacious.learn.meetup" level="debug"/>

    <root level="debug">
        <!-- appender-ref ref="CONSOLE"/ -->
        <appender-ref ref="FILE"/>
    </root>

</configuration>
